body {
    margin: 0;
    padding: 0;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;

}

.header {
    background-color: beige;
}

.header-main {
    display: flex;
}

.header-left {
    width: 30%;
    padding: 35px 70px;
}

.header-right {
    width: 75%;
}

.header-right>ul {
    margin-top: 70px;
    display: flex;
}

.header-right>ul li {
    list-style: none;
}

.header-right>ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    transition: .3s;
}

.header-right>ul li a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.header .dropdown {
    display: none;
    padding: 0;
    padding-top: 20px;
}

.header .dropdown li {
    padding: 0;
    padding-bottom: 10px;
}

.header .dropdown li a:hover {
    color: papayawhip;
    border: none;
    color: orange;
}

.header-right>ul>li:hover ul {
    position: absolute;
    display: block;
    width: 30%;
}

#active-btn {
    color: orange;
    border-bottom: 1px solid orange;
}

#aplly-btn {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

.hero {
    background-color: beige;
    height: 550px;
    padding-top: 100px;
}

.hero-main {
    background-color: beige;
    width: 100%;
    height: 550px;
    background-image: url(images/hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-content {
    width: 500px;
    padding: 40px 70px
}

.hero-main .hero-content h1 {
    color: orange;
    margin: 0;
    font-size: 40px;
}

.hero-main .hero-content p {
    color: gray;
    padding-bottom: 20px;
}

.btn {
    background-color: orange;
    box-shadow: 5px 5px 15px gray;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: .8s;
}

.btn:hover {
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}

.department {
    padding-bottom: 100px;
}

.department header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.department header p {
    padding-left: 400px;
    padding-right: 400px;
    color: gray;
}

.department .department-main {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.department .department-main .department-content {
    width: 350px;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.department .department-main .department-content h1 {
    color: #fff;
    letter-spacing: 4px;
}

.department .department-main .department-content p {
    color: rgb(73, 73, 73);
}

#cse {
    background-color: rgb(249, 112, 58);
    transition: .5s;
}

#cse:hover {
    box-shadow: 5px 5px 20px rgb(249, 112, 58);
}

#eee {
    background-color: rgb(128, 190, 65);
    transition: .5s;
}

#eee:hover {
    box-shadow: 5px 5px 20px rgb(128, 190, 65);
}

#bba {
    background-color: rgb(255, 177, 87);
    transition: .5s;
}

#bba:hover {
    box-shadow: 5px 5px 20px rgb(255, 177, 87);
}

.limit-learning {}

.limit-learning-main {
    display: flex;
    background: url(images/limit-shape.png);
    background-repeat: no-repeat;
    padding: 100px 0px;
}

.learning-video {
    width: 50%;
    border-radius: 25%;
    padding: 20px 50px;
}

.learning-content {
    width: 50%;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 50px;
}

.learning-content h1 {
    line-height: 40px;
}

.learning-content p {
    color: gray;
    padding-bottom: 30px;
}

.around-university {
    padding-bottom: 100px;
}

.around-university header {
    text-align: center;
}

.content-row {
    display: flex;
    justify-content: space-around;
}

.around-versity-content {
    width: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px;
    padding-bottom: 20px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

.around-versity-content:hover {
    box-shadow: 5px 5px 20px rgb(255, 177, 87);
}

.around-versity-content h4 {
    color: gray;
}

.around-versity-content a {
    text-decoration: none;
    color: #000;
}

.around-versity-content a:hover {
    color: orange;
}

footer {
    background-color: rgb(24, 36, 53);
    padding: 50px 0px;
}

.footer-main {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    width: 400px;
    padding: 10px 50px;
    margin-right: 5px;
}

#footer-logo {
    padding-top: 10px;
    padding-bottom: 12px;
}

#forum-p {
    padding-top: 20px;
}

.footer-content h3 {
    color: #fff;
    text-transform: uppercase;
}

.footer-content p {
    color: gray;
    padding-bottom: 5px;
}

.footer-content ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.footer-content ul li {
    list-style: none;
    padding: 10px 0px;
}

.footer-content ul li a {
    list-style: none;
    color: gray;
    text-decoration: none;
    transition: 0.5s;
}

.footer-content ul li a:hover {
    color: orange;
}

.footer-content form {
    background-color: #fff;
    width: 250px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content input {
    all: unset;
    font: 16px system-ui;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.footer-content button {
    background-color: orange;
    width: 30%;
    height: 100%;
    border: none;
}

.media-icon {
    padding-top: 20px;
    border-top: 1px solid gray;
}

.icon {
    font-size: 30px;
    cursor: pointer;
    padding-right: 12px;
    color: gray;
    transition: .5s;
}

.icon:hover {
    color: orange;
}

span {
    color: orange;
}